p1-VisitingCard/*.iml
p1-VisitingCard/.gradle
p1-VisitingCard//local.properties
p1-VisitingCard//.idea/caches
p1-VisitingCard//.idea/libraries
p1-VisitingCard//.idea/modules.xml
p1-VisitingCard//.idea/workspace.xml
p1-VisitingCard//.idea/navEditor.xml
p1-VisitingCard//.idea/assetWizardSettings.xml
p1-VisitingCard/.DS_Store
p1-VisitingCard//build
p1-VisitingCard//captures
p1-VisitingCard/.externalNativeBuild
p1-VisitingCard/.cxx
p2-SimpleCalculator/*.iml
p2-SimpleCalculator/.gradle
p2-SimpleCalculator//local.properties
p2-SimpleCalculator//.idea/caches
p2-SimpleCalculator//.idea/libraries
p2-SimpleCalculator//.idea/modules.xml
p2-SimpleCalculator//.idea/workspace.xml
p2-SimpleCalculator//.idea/navEditor.xml
p2-SimpleCalculator//.idea/assetWizardSettings.xml
p2-SimpleCalculator/.DS_Store
p2-SimpleCalculator//build
p2-SimpleCalculator//captures
p2-SimpleCalculator/.externalNativeBuild
p2-SimpleCalculator/.cxx
p3-LoginActivity/*.iml
p3-LoginActivity/.gradle
p3-LoginActivity//local.properties
p3-LoginActivity//.idea/caches
p3-LoginActivity//.idea/libraries
p3-LoginActivity//.idea/modules.xml
p3-LoginActivity//.idea/workspace.xml
p3-LoginActivity//.idea/navEditor.xml
p3-LoginActivity//.idea/assetWizardSettings.xml
p3-LoginActivity/.DS_Store
p3-LoginActivity//build
p3-LoginActivity//captures
p3-LoginActivity/.externalNativeBuild
p3-LoginActivity/.cxx
p4-WallpaperApp/*.iml
p4-WallpaperApp/.gradle
p4-WallpaperApp//local.properties
p4-WallpaperApp//.idea/caches
p4-WallpaperApp//.idea/libraries
p4-WallpaperApp//.idea/modules.xml
p4-WallpaperApp//.idea/workspace.xml
p4-WallpaperApp//.idea/navEditor.xml
p4-WallpaperApp//.idea/assetWizardSettings.xml
p4-WallpaperApp/.DS_Store
p4-WallpaperApp//build
p4-WallpaperApp//captures
p4-WallpaperApp/.externalNativeBuild
p4-WallpaperApp/.cxx
p5-CounterApp/*.iml
p5-CounterApp/.gradle
p5-CounterApp//local.properties
p5-CounterApp//.idea/caches
p5-CounterApp//.idea/libraries
p5-CounterApp//.idea/modules.xml
p5-CounterApp//.idea/workspace.xml
p5-CounterApp//.idea/navEditor.xml
p5-CounterApp//.idea/assetWizardSettings.xml
p5-CounterApp/.DS_Store
p5-CounterApp//build
p5-CounterApp//captures
p5-CounterApp/.externalNativeBuild
p5-CounterApp/.cxx
p6-ParsingXmlAndJson/*.iml
p6-ParsingXmlAndJson/.gradle
p6-ParsingXmlAndJson//local.properties
p6-ParsingXmlAndJson//.idea/caches
p6-ParsingXmlAndJson//.idea/libraries
p6-ParsingXmlAndJson//.idea/modules.xml
p6-ParsingXmlAndJson//.idea/workspace.xml
p6-ParsingXmlAndJson//.idea/navEditor.xml
p6-ParsingXmlAndJson//.idea/assetWizardSettings.xml
p6-ParsingXmlAndJson/.DS_Store
p6-ParsingXmlAndJson//build
p6-ParsingXmlAndJson//captures
p6-ParsingXmlAndJson/.externalNativeBuild
p6-ParsingXmlAndJson/.cxx
p7-TextToSpeechApp/*.iml
p7-TextToSpeechApp/.gradle
p7-TextToSpeechApp//local.properties
p7-TextToSpeechApp//.idea/caches
p7-TextToSpeechApp//.idea/libraries
p7-TextToSpeechApp//.idea/modules.xml
p7-TextToSpeechApp//.idea/workspace.xml
p7-TextToSpeechApp//.idea/navEditor.xml
p7-TextToSpeechApp//.idea/assetWizardSettings.xml
p7-TextToSpeechApp/.DS_Store
p7-TextToSpeechApp//build
p7-TextToSpeechApp//captures
p7-TextToSpeechApp/.externalNativeBuild
p7-TextToSpeechApp/.cxx
p8-CallAndSaveApp/*.iml
p8-CallAndSaveApp/.gradle
p8-CallAndSaveApp//local.properties
p8-CallAndSaveApp//.idea/caches
p8-CallAndSaveApp//.idea/libraries
p8-CallAndSaveApp//.idea/modules.xml
p8-CallAndSaveApp//.idea/workspace.xml
p8-CallAndSaveApp//.idea/navEditor.xml
p8-CallAndSaveApp//.idea/assetWizardSettings.xml
p8-CallAndSaveApp/.DS_Store
p8-CallAndSaveApp//build
p8-CallAndSaveApp//captures
p8-CallAndSaveApp/.externalNativeBuild
p8-CallAndSaveApp/.cxx
